# Visual Studio 2015 cache/options directory
.vs/
[Pp]ackages
zzzArchive

# Visual Studio Code
lib

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.filters

# Office
~$*
